* {
  box-sizing: border-box;
  font-size: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* header styling starts  */
.header-bar {
  background-color: rgb(27, 165, 27);
}

.header-left {
  background: #ec870e;
  padding: 10px 0;
  display: inline-flex;
  margin-right: 20px;
  border-radius: 5px;
}

.header-left i {
  margin-right: 6px;
}

.row span {
  font-size: 16px;
  padding: 8px 15px;
}

.social-media-profiles {
  text-align: end;
  margin-top: 10px;
  padding: 2px;
}

.social-icons i {
  padding: 2px;
}

.social-icons a:hover {
  text-decoration: none;
  background-color: rgb(3, 3, 3);
  border-radius: 50%;
  height: 300px;
}
/* header styling ends  */

/* navbar starts */
#nav-bar {
  padding-left: 6rem;
  margin: 2px;
}

#n-links {
  padding-left: 10rem;
  padding-right: 2rem;
}

.nav-item {
  font-weight: bold;
  color: #000;
}

#admission-button {
  padding-right: 12rem;
  font-weight: bolder;
}

#admission-button button:hover {
  background-color: #ec870e;
}
/* navbar ends  */

/* image slides start  */
#img-slides .carousel-inner img {
  color: rgba(0, 0, 0, 0.5);
  width: 1326px;
  height: 550px;
  box-sizing: border-box;
}

#img-slides .carousel-inner {
  width: fit-content;
  padding: 1px 1px;
  margin: 0px auto;
  height: 100%;
}
#img-slides .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  padding-left: 15px;
}

.about-slide-button a {
  color: #ec870e;
}
/* image slide style ends  */

/* about-us starts */

#about-us {
  background-color: rgba(207, 205, 205, 0.5);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.img-inner {
  position: relative;
}

.about-description h1 {
  font-weight: 700;
  font-size: 30px;
}
.about-description hr {
  color: #ec870e;
  height: 4px;
  margin-bottom: 2rem;
  border: none;
}

.about-description p {
  opacity: 0.65;
  font-weight: 500;
}
/* about us ends  */

/************************************ our-courses ************************************/

#our-courses {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding-top: 40px;
  padding-bottom: 70px;
}

#course-details .card-body {
  color: #000;
}
.card-title {
  font-weight: 700;
}

.card-text {
  opacity: 0.7;
  font-weight: 500;
}

/*************************************** contact enquiry ***************************************/
.contact-details .container-fluid {
  background: rgb(80, 76, 76);
  height: 12rem;
  color: #fff;
  line-height: 10px;
  padding-top: 40px;
  padding-left: 10rem;
}

.contact-details-des h2 {
  padding-bottom: 2rem;
}

.contact-details-des a {
  background-color: #ec870e;
  padding: 13px;
  margin-top: 3rem;
}

.contact-details-des a:hover {
  background: green;
}
.contact-details-des i {
  padding: 0px 10px;
}

/************************************************ gallery ************************************************/
#image-gallery .container {
  height: 600px;
  margin-bottom: 40px;
  margin-top: 40px;
}

#image-gallery h3 {
  text-align: center;
  font-size: 40px;
  padding-top: 40px;
}

.all-images {
  margin: 12px;
  width: 100%;
  margin-top: 20px;
}

.all-images .thumbnail {
  width: 23%;
  float: left;
  padding: 10px;
  margin: 10px;
  display: block;
}

.thumbnail img {
  width: 100%;
  border-radius: 4px;
}

.thumbnail img:hover {
  transform: scale(1.3, 1.3);
  transition: 0.3s transform;
}

/**************************************** testimonial starts ****************************************/
#testify {
  background: #071c2e;
  background-position: center center;
  background-size: cover;
  position: relative;
  background-size: cover;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

#inner-details {
  padding: 90px 180px;
}

.testimonial h5 {
  color: #ec870e;
  font-weight: bolder;
}

.testimonial h6 {
  font-weight: 500;
}

/**************************************** testimonial ends ****************************************/

/* contact-us styling starts */
#contact-us .container {
  width: 80%;
  margin: 50px auto;
}

.contact-box {
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
}
#contact-us h2 {
  font-weight: 700;
  font-size: 34px;
  padding-left: 60px;
}

.contact-box h4 {
  margin-bottom: 20px;
  font-weight: 700;
}

/********* left box  ********/

.input-row .input-group {
  flex-basis: 45%;
}

.input-group input {
  width: 100%;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
}

#textarea {
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

.input-row button {
  background: #e08310;
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 10px 40px;
}

.input-row button:hover {
  background: green;
}

/**** right box ***/
.contact-right td {
  padding-right: 30px;
  padding-bottom: 20px;
  font-size: 17px;
}
.icons {
  color: #ec870e;
}

.heading {
  font-weight: bolder;
}
.heading-content {
  opacity: 0.6;
  font-weight: 500;
}

/* contact-us styling ends */

/* footer */

.footer {
  background: #303036;
  color: #fff;
  height: 400px;
  position: relative;
}

.footer-content {
  display: flex;
  padding: 50px;
}

.footer-content .footer-section-about {
  flex-basis: 33.3%;
  padding: 10px 30px;
}
.footer-content .footer-section-links {
  flex-basis: 33.3%;
  padding: 10px 30px;
}

.footer-content .footer-section-links a {
  color: #fff;
}

.footer-content .footer-section-links a:hover {
  color: #ec870e;
}

.footer-content .footer-section-contact {
  flex-basis: 33.3%;
  padding: 10px 30px;
}

.footer-section-contact td {
  padding-right: 30px;
  padding-bottom: 20px;
}

.footer-section-links td {
  padding-right: 20px;
  padding-bottom: 10px;
}

.footer .footer-content {
  height: 350px;
}

.footer .footer-bottom {
  background: #343a40;
  color: #fff;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.footer-bottom span {
  color: #ec870e;
}
